{% extends 'base.html.twig' %}

{% block title %}Gestion de Présence{% endblock %}


{% block body %}

   <h3 class="text-center text-white" style="font-weight: bold; background-color: #138496; padding-bottom: 10px; padding-top: 10px;color:#000029;">
      <marquee><em>GESTION DE PRESENCE DES EMPLOYEES</em></marquee></h3>

   <img src="/assets/images/team nl.jpg" width="100%" height="600" alt="retour" >

{% endblock %}

