<form method="post" action="{{ path('employee_delete', {'id': employee.id}) }}" onsubmit="return confirm('Vous êtes sûr de supprimer');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee.id) }}">
    <button class="btn btn-danger btn-lg btn-block">Supprimer</button>
</form>
